@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 60% 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 176 42% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 30 94% 60%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 176 42% 45%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --accessibility-line-height: 1.5;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 176 42% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 30 94% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 176 42% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    line-height: var(--accessibility-line-height) !important;
  }

  /* Accessibility Styles */
  .text-size-1 * {
    font-size: 1.1rem !important;
  }
  .text-size-2 * {
    font-size: 1.2rem !important;
  }
  .text-size-3 * {
    font-size: 1.3rem !important;
  }

  .text-spacing-1 * {
    letter-spacing: 0.1em !important;
  }
  .text-spacing-2 * {
    letter-spacing: 0.2em !important;
  }
  .text-spacing-3 * {
    letter-spacing: 0.3em !important;
  }

  .accessibility-dyslexia * {
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif !important;
  }

  .accessibility-highlight-links a {
    outline: 3px solid #f9a03f !important;
    outline-offset: 2px;
  }

  .accessibility-hide-images img {
    visibility: hidden !important;
  }

  .accessibility-big-cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' style='font-size: 48px;'><text y='32'>👈</text></svg>"),
      auto !important;
  }
}
